<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label for="workout_name">トレーニング名</label>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <label for="workout_name">回数（デフォルト）</label>
    <%= form.number_field :default_times %>
  </div>

  <div class="field">
    <label for="workout_name">秒数（デフォルト）</label>
    <%= form.number_field :default_seconds %>
  </div>

  <div class="actions">
    <%= form.submit "送信" %>
  </div>
<% end %>
