<p id="notice"><%= notice %></p>

<h1>トレーニング一覧</h1>

<table>
  <thead>
    <tr>
      <th>トレーニング名</th>
      <th>回数（デフォルト）</th>
      <th>秒数（デフォルト）</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.name %></td>
        <td><%= workout.default_times %></td>
        <td><%= workout.default_seconds %></td>
        <td><%= link_to '詳細', workout %></td>
        <td><%= link_to '編集', edit_workout_path(workout) %></td>
        <td><%= link_to '削除', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'トレーニングを追加', new_workout_path %>
