<p id="notice"><%= notice %></p>

<p>
  <strong>トレーニング名:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>回数（デフォルト）:</strong>
  <%= @workout.default_times %>
</p>

<p>
  <strong>秒数（デフォルト）:</strong>
  <%= @workout.default_seconds %>
</p>

<%= link_to '編集', edit_workout_path(@workout) %> |
<%= link_to '戻る', workouts_path %>
