<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Default times:</strong>
  <%= @workout.default_times %>
</p>

<p>
  <strong>Default seconds:</strong>
  <%= @workout.default_seconds %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
